
@{
    ViewData["Title"] = "AboutUs";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Medilab Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/NewFolder/assets/img/favicon.png" rel="icon">
    <link href="~/NewFolder/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NewFolder/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NewFolder/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NewFolder/assets/css/style.css" rel="stylesheet">

  
</head>

<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
           
            <div  class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://www.youtube.com/watch?v=aGSDfEvwVDI" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">More experience</a></h4>
                    <p class="description">Every year, more than a million people come to Mayo Clinic for care. Our highly specialized experts are deeply experienced in treating rare and complex conditions.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">The right answers</a></h4>
                    <p class="description">Successful treatment starts with an accurate diagnosis, and our experts take the time to get it right. A team of specialists will listen to your needs and evaluate your condition from every angle to make the very best plan for you</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Seamless care</a></h4>
                    <p class="description">At Mayo Clinic, every aspect of your care is coordinated and teams of experts work together to provide exactly the care you need. What might take months elsewhere can often be done in days here.</p>
                </div>
            </div>
        </div>
              
            
    </div>
    
    <script src="~/NewFolder/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewFolder/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/NewFolder/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/NewFolder/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/NewFolder/assets/vendor/swiper/swiper-bundle.min.js"></script>
</section>



