@using Microsoft.AspNetCore.Identity
@model MindClinic.Models.User
@inject SignInManager<User> signInManager;
@{
    ViewData["Title"] = "SecretaryViewProfile";
}
<div class="content">
    <div class="container">

        <!-- Doctor Widget -->
        <div class="card">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img src="~/Doctorsimage/@(Model.image?? "Default.jpg")" class="img-fluid" alt="User Image">
                        </div>
                        <div hidden>
                            <input id="doctorId" value="@Model.Id" />
                        </div>
                        <div class="doc-info-cont">
                           
                         
                        </div>
                    </div>
                    <div class="doc-info-right ">

                        @if (!User.IsInRole("DOCTOR"))
                        {
                            <div class="clinic-booking">
                                
                                <a class="apt-btn" asp-action="WorkWithMe" asp-controller="Home" asp-route-id="@Model.Id">Work With Me</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
     
        

