@model MindClinic.Models.DoctorClass
@{
    Layout = "_LayoutDoctotDashboard";
}
<form asp-action="DoctorProfile">
    <h4 class="card-title">About Me</h4>
    <div class="form-group mb-0">
        <textarea class="form-control" asp-for="AboutMe" rows="5"> </textarea>
        <span asp-validation-for="AboutMe" class="text-danger"></span>
    </div>
    <br />
    <h4 class="card-title">Pricing</h4>
    <div class="row custom_price_cont" id="custom_price_cont" style="">
        <div class="col-md-4">

            <input asp-for="pricePerSession" class="form-control" />
            <span asp-validation-for="pricePerSession" class="text-danger"></span>
        </div>
        <div class="col-6"></div>
        <div class="col-2"> <input type="submit" value="Save" class="btn btn-primary" /></div>
    </div>
</form>
<div id="education"></div>

<script>
    $(document).ready(function () {

        $.ajax({
            method: 'GET',
            url: '/DoctorClasses/DoctorEducation',
            success: function (response) {
                $("#education").html(response);
            }
        });

    });

</script>