@model MindClinic.Models.DoctorClass

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<hr />
<form asp-action="Edit">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">About Me</h4>
            <div class="form-group mb-0">
                <label>Biography</label>
                <textarea class="form-control" asp-for="AboutMe" rows="5"> </textarea>
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Pricing</h4>
        <div class="row custom_price_cont" id="custom_price_cont" style="">
            <div class="col-md-4">
                <label asp-for="pricePerSession" class="control-label"></label>
                <input asp-for="pricePerSession" class="form-control" />
                <span asp-validation-for="pricePerSession" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
