@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@*<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-success">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>*@

<header>
    <br><br>
<div class="card success-card">
								<div class="card-body">

                                    @{
                                       if(User.Identity.IsAuthenticated)
                                         {
									    <div class="success-cont">
										<i class="fa fa-question"></i>
										<h3>Are you sure you want to log out?</h3>
                                        <p>You can't certain features while logged out.</p>
                                         <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                         <button  class="btn btn-success btn-block btn-lg login-btn">Click to Confirm Logout</button>
                                        </form>      
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="success-cont">
										<i class="fas fa-check"></i>
										<h3>You have successfully logged out of the application!</h3>     
                                        </div>
                                        }
                                      } 
									
								</div>
                                </div>
                            <br><br>
                            
</header>
