@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@*<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-success">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>*@

<header>
 <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                        <div class="login-right">
							<div class="login-right-wrap">							
                                <p style="text-align:center;"><img src="~/assets/img/favicon.png" class="img-fluid" alt="Doccure Register"></p>
                                
                                 @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <p style="text-align:center;"><h4>are you sure you want to log out?</h4></p>
                                         
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="btn btn-success btn-block btn-lg login-btn">Click to Confirm Logout</button>
                                        </form>
                                    }
                                    else
                                    {
                                    <p>You have successfully logged out of the application.</p>
                                     }
                                   }
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </header>