@model Tuple<IEnumerable<MindClinic.Models.User>, IEnumerable<MindClinic.Models.Appointment>, IEnumerable<MindClinic.Models.User>>
@{
    ViewData["Title"] = "Appointment";
    Layout = "_LayoutAdminDashboard";
}
<div class="main-wrapper">

    <!-- Header -->
    <!-- /Sidebar -->
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Appointments</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Appointments</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Recent Orders -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor Name</th>
                                            <th>Patient Name</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Session Price</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Item2)
                                        {<tr>
                                             <td>@item.doctor.Name</td>
                                             <td>@item.patient.Name</td>
                                             <td>@item.Time</td>
                                             <td>@item.status</td>
                                             <td> 200$</td>
                                             </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Recent Orders -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

</div>


